@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,400;1,200&display=swap');
body{
    background-color: #a1b8e3;
    color: white;
    background: url(bgdetail.avif);
    background-size: cover;
    font-family: poppins;
}
.container{
    /*background-color: rgb(152, 152, 152);*/
    background-color: rgba(0, 0, 0, 0.7); /* Black color with 70% opacity */
    padding: 60px;
    
}
#btn{
    margin-left: 100px;
    margin-top: 10px;
    background-color: #29324A;
    text-decoration: none;
    color:#FFD700;
    border: solid black 2px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 15px;
}
.row img{
    width:400px;
    height: 500px;
    position: relative;
    top: 40px;
    left: 0%;
    border-radius: 20px ;
    border: white 2px solid;
    padding: 0px;
}
#btnBookNow{
    position: relative;
    top: 60px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

h1{
    margin-top: 50px;
}
.constar h4{
    margin-top: 90PX;
}
#st{
    transition: .6s;
    margin-right: 10px;
    font-size: 40px;
}
.star i {
    cursor: pointer;
}

.star i.active {
    color: gold;
}
h4{
    margin-top: 20px;
}
textarea{
    border-radius: 10px;
}
